.footer {
    background-color: #000000;
    padding: 2em 2.5em 1em 2.5em;
    z-index: 1;
  }
  
  a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  
  a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  
  .footerContainer {
    margin: 0 7.5%;
    padding: 2.5em 1.5em 2.5em 2.5em;
    border-top: 1px solid #c8c8c8;
    font-family: 'Manrope';
  }
  
  .footerContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #181433;
  }
  
  .click {
    cursor: pointer;
    font-size: 16px;
    margin: 1em 0;
    color: #181433;
  }
  
  .footerItem {
    flex: 1;
    height: 100%;
    margin: 0 2em;
  }
  
  .footerEnd {
    text-align: center;
    font-size: 14px;
    margin: 2em auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
  }
  
  .footerMain {
    display: flex;
    flex: 3;
  }
  
  .newFooter {
    background-color: #ffffff;
    padding: 2em 2.5em 1em 2.5em;
    z-index: 1;
  }
  
  .footerRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .footerColumn {
    margin: 1em 4em 4em 0em;
    flex: 1;
  }
  
  .footerColumnLong {
    margin: 1em 4em 4em 0em;
    flex: 2;
  }
  
  .footerHeading {
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
  }
  
  .footerText {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
    margin: 0.5em 0em;
  }
  
  .hr {
    width: 100%;
    height: 1px;
    background-color: #ffffff88;
  }
  
  .footerInfo {
    margin: 1em 0em 1em 2em;
  }
  
  .footerInfoText {
    font-size: 0.8em;
    font-weight: 300;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffffdd;
    margin: 0.125em 0em;
  }
  
  .logo {
    width: 15vw;
    align-self: center;
  }
  
  .footerGroup {
    display: flex;
    flex: 2;
  }
  
  @media only screen and (max-width: 720px) {
    .footerColumn {
      width: 100%;
      margin: 1em 2em 0em 0em;
    }
    .footerItem {
      height: auto;
      margin: 0;
      font-size: 14px;
      margin: 0 0 2em;
    }
    .footerGroup {
      justify-content: flex-start;
      flex-direction: column;
      flex: 1;
    }
    .footerContent {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      font-size: 17px;
    }
    .footerMain {
      display: flex;
      flex-direction: row;
      margin: 1em 0;
    }
    .click {
      margin: 0.25em 0;
      font-size: 14px;
    }
    .footerColumnLong {
      width: 100%;
      flex: 1;
      margin: 1em 2em 0em 0em;
    }
    .footerRow {
      flex-direction: column;
    }
    .footerText {
      font-size: 1em;
    }
    .footerInfo {
      margin: 1em 0em 1em 2em;
    }
    .footerContainer {
      margin: 0.75em;
      padding: 1.5em;
    }
    .logo {
      width: 40vw;
      align-self: center;
      margin: 2em 0em 1em 0em;
    }
    .hr {
      margin-top: 2em;
    }
  }